mixin subscribe(btnText, placeholder, method)
  .subscribe
    form.subscribe__form(action='/', method=method)      
      input.subscribe__form-field(type="text"
                                  name="subscribe"
                                  placeholder=placeholder) 
      button.subscribe__btn(type=btnText) #{btnText}

mixin post()
  article.post
    figure.post__img
      img(src="../img/content/img-1.jpg")
      figcaption.post__img-description Fashion
    h2.post__title The Best Beauty Looks: Week of October 13, 2015
    p.post__short-content There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words...
    time.post__date(pubdate datetime="2015-12-09") Dec 09/2015